<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    In this example, we use the CSS background-color property to set the background color of the text area and the color property to set the text color. Adjust the values of background-color and color to the desired colors for your text area.

Note that the textarea element has other styling properties such as 
</body>
</html>