<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JejuGothic:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="desktop-1-child"></div>
      <img
        class="photo-1510511459019-5dda7724fd-icon"
        alt=""
        src="/static/photo15105114590195dda7724fd87-1@2x.png"
      />

      <div class="rectangleoverlay"></div>
      <div class="navigation"></div>
      <div class="unlock-the-power-container">
        <p class="unlock-the-power-of-encryption">
          <span>
            <span class="s-unlock">Unlock the power of encryption with ENCRYPTIA!!!</span>
          </span>
        </p>
        <p class="p">
          <span>
            <span>
              <span> </span>
            </span>
          </span>
        </p>
        <p class="safeguard-your-secrets-and-shi">
          <span>
            <span
              >Safeguard your secrets and shield your messages from prying eyes.
              Enter your text, select from a range of encryption methods, and
              witness the magic as your information is transformed into an
              impregnable code.</span
            >
          </span>
        </p>
      </div>
      <div class="home-parent">
        
        <a class="a-about" href="{{url_for('about')}}"><div class="about">About</div></a>
        <div class="button">
          <div class="button-child"></div>
          <div class="login">Login</div>
        </div>
      </div>
      <div class="footer"></div>
      <div class="ellipse-parent">
        <div class="group-child"></div>
        <div class="lightning-alt-light">
          <img
            class="lightning-alt-light-child"
            alt=""
            src="/static/vector-31.svg"
          />

          <div class="popular-encryption-algorithms-container">
            <p class="unlock-the-power-of-encryption">Popular</p>
            <p class="unlock-the-power-of-encryption">Encryption</p>
            <p class="unlock-the-power-of-encryption">Algorithms</p>
          </div>
        </div>
        <div class="group-parent">
          <div class="rectangle-parent">
            <div class="group-item"></div>
            <div class="try-it-out"><a class="a-try-it-out" href="{{url_for('index')}}">Try it out now</a></div>
          </div>
          <a href="{{url_for('index')}}"><img
            class="chevron-right-square-icon"
            alt=""
            src="/static/chevronrightsquare.svg"
          /></a>
        </div>
      </div>
      <div class="d-internet-secuirty-badge-1-parent">
        <img
          class="d-internet-secuirty-badge-1"
          alt=""
          src="/static/3dinternetsecuirtybadge-1-1@2x.png"
        />

        <div class="rsa-algorithm">
          <p class="unlock-the-power-of-encryption">RSA</p>
          <p class="unlock-the-power-of-encryption">Algorithm</p>
        </div>
      </div>
      <div class="d-internet-secuirty-badge-1-group">
        <img
          class="d-internet-secuirty-badge-1"
          alt=""
          src="/static/3dinternetsecuirtybadge-1-1@2x.png"
        />

        <div class="rsa-algorithm">
          <p class="unlock-the-power-of-encryption">BLOWFISH</p>
          <p class="unlock-the-power-of-encryption">Algorithm</p>
        </div>
      </div>
      <div class="d-internet-secuirty-badge-1-container">
        <img
          class="d-internet-secuirty-badge-1-icon"
          alt=""
          src="/static/3dinternetsecuirtybadge-1@2x.png"
        />

        <div class="aes-algorithm">
          <p class="unlock-the-power-of-encryption">AES</p>
          <p class="unlock-the-power-of-encryption">Algorithm</p>
        </div>
      </div>
      <div class="encryptia">ENCRYPTIA</div>
    </div>
  </body>
</html>
